<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.lyb.pluginlib">
    <application
        android:name=".MyApplication">
        <meta-data
            android:name="com.qihoo360.plugin.name"
            android:value="pluginlib" />
    </application>
</manifest>
